.section-title {
  color: #313131;
  font-size: 27px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 29px; }
  .section-title::after {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 46px;
    height: 6px;
    background: url(../img/also/line.png) center no-repeat;
    margin-top: 17px; }

.products {
  padding-top: 57px;
  padding-bottom: 73px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start; }
  .products-block {
    display: inline-block;
    text-align: center;
    margin-top: -10px; }
    .products-block_1 {
      margin-left: -47px; }
    .products-block_2 {
      margin-left: 5px; }
    .products-block_3 {
      margin-left: -47px; }
    .products-block_4 {
      margin-left: 5px; }
    .products-block_title {
      font-size: 20px;
      font-weight: 500;
      line-height: 19.99px;
      margin-bottom: 28px;
      width: 100%; }
      .products-block_title_3 {
        font-size: 19px; }
    .products-block_btns {
      margin-bottom: 35px; }

.product_img {
  margin-bottom: 19px; }

.btn-o {
  width: 128px;
  height: 48px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #fff;
  border: 1px solid #373737; }
  .btn-o:hover {
    cursor: pointer;
    color: #f39003;
    border: 1px solid #f39003; }

.btn {
  width: 173px;
  height: 47px;
  border-radius: 5px; }

.row2 {
  margin-top: 8px; }

.qwerty {
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center; }
